# Copy this file to one of:
# - .env.dev
# - .env.qa
# - .env.prod

# [Keycloak Settings]
KEYCLOAK_CLIENT_SECRET=YOUR_KEYCLOAK_CLIENT_SECRET
SWAGGER_OAUTH_CLIENT_ID=intellian-app-angular-client
KEYCLOAK_AUTH_SERVER_URL=https://accounts-dev.intelliantech.com

# [Database Settings]
DB_HOST=localhost
DB_PORT=3306
DB_NAME=TEST_SAMPLE_DB
DB_USERNAME=shop
DB_PASSWORD=password
